@page
@model Projeto_Escola.Pages.ContatoModel
@{
}
<body>
    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/banner-contatos.jpg'); background-size: cover;  background-position: center;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center fadeInUp ftco-animated">
                </div>
            </div>
        </div>
    </section>
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <h1 class="jumbotron-heading d-flex justify-content-center" style="padding-bottom: 60px;padding-top: 25px;">Contatos</h1>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h3>Secretaria</h3>
                            <p class="card-text">secretaria@saintjohn.g12.br</p>

                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h3>Coordenação Pedagógica</h3>
                            <p class="card-text">coordenacao@saintjohn.g12.br</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">

                        <div class="card-body">
                            <h3>Matrículas</h3>
                            <p class="card-text">matriculas@saintjohn.g12.br</p>
                        </div>
                    </div>
                </div>



</body>