@page
@model Projeto_Escola.Pages.diferenciaisModel
@{
}
<div class="container">
    <div class="row gutter-20">
        <div class="col-md-8">
            <div class="page-content">
                <div class="section-title page-title">
                    <h3 class="title">ANGLO EDUCACIONAL</h3>
                </div>
                <p><img decoding="async" data-src="https://www.colegiosantamonica.com.br/wp-content/uploads/2019/09/selo.png" alt="" width="132" height="132" src="https://www.colegiosantamonica.com.br/wp-content/uploads/2019/09/selo.png" class=" ls-is-cached lazyloaded" style="--smush-placeholder-width: 132px; --smush-placeholder-aspect-ratio: 132/132;"><noscript><img decoding="async" class="" src="https://www.colegiosantamonica.com.br/wp-content/uploads/2019/09/selo.png" alt="" width="132" height="132"></noscript></p>
                <p>Colégio adota, tradicionalmente, materiais didáticos escolhidos entre o que há de melhor no mercado editorial. Desde o ano letivo de 2020, temos parceria com a renomada Solução Educacional ANGLO para atender aos alunos do 6º ao 9º anos do Ensino Fundamental II e para alunos da 1ª a 3ª séries do Ensino Médio. Os materiais didáticos e demais recursos pedagógicos do Anglo orientam o desenvolvimento de um processo de aprendizagem que viabiliza o entendimento dos conceitos em detrimento das memorizações, busca a reflexão e a criticidade e atua na formação do aluno como cidadão. Nosso objetivo é garantir que o aluno compreenda os conteúdos, adquira sólidos conhecimentos de cultura geral e construa hábitos de leitura e de estudo. Ao longo dos anos, os conceitos são abordados em espiral, o que possibilita ao aluno estar em contato constante com os diversos assuntos apresentados, em níveis crescentes de aprofundamento. O professor, por sua vez, é estimulado e orientado de forma detalhada (pelo Manual do Professor) a articular os conteúdos conceituais aos atitudinais, para que o aluno adquira habilidades e competências necessárias à sua vida na escola e na sociedade. Além do material físico, os alunos dispõem de recursos digitais para apoio ao estudo individual e realizam simulados que permitem identificar, de forma individualizada, os conteúdos menos absorvidos. A metodologia “Aula dada, aula estudada”, que desenvolve a organização e a autonomia de estudos, está em consonância com os fundamentos do SISTEMA VA., já incorporado à nossa metodologia de ensino.</p>
                <p></p><div class="video-wrapper"><div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item lazyloaded" title="Anglo - Conheça a Solução Educacional Anglo" width="500" height="281" data-src="https://www.youtube.com/embed/WY4Mh4sqIJI?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="" src="https://www.youtube.com/embed/WY4Mh4sqIJI?feature=oembed" data-load-mode="1"></iframe></div></div><p></p>
                
                <p><img loading="lazy" decoding="async" class="aligncenter size-full wp-image-219625 ls-is-cached lazyloaded" data-src="https://www.colegiosantamonica.com.br/wp-content/uploads/2019/09/imagem02.jpg" alt="" width="600" height="600" data-srcset="https://www.colegiosantamonica.com.br/wp-content/uploads/2019/09/imagem02.jpg 2271w, https://www.colegiosantamonica.com.br/wp-content/uploads/2019/09/imagem02-346x300.jpg 346w, https://www.colegiosantamonica.com.br/wp-content/uploads/2019/09/imagem02-970x841.jpg 970w" data-sizes="(max-width: 2271px) 100vw, 2271px" src="https://www.colegiosantamonica.com.br/wp-content/uploads/2019/09/imagem02.jpg" style="--smush-placeholder-width: 2271px; --smush-placeholder-aspect-ratio: 2271/1968;" sizes="(max-width: 2271px) 100vw, 2271px" srcset="https://www.colegiosantamonica.com.br/wp-content/uploads/2019/09/imagem02.jpg 2271w, https://www.colegiosantamonica.com.br/wp-content/uploads/2019/09/imagem02-346x300.jpg 346w, https://www.colegiosantamonica.com.br/wp-content/uploads/2019/09/imagem02-970x841.jpg 970w"><noscript><img loading="lazy" decoding="async" class="aligncenter size-full wp-image-219625" src="https://www.colegiosantamonica.com.br/wp-content/uploads/2019/09/imagem02.jpg" alt="" width="2271" height="1968" srcset="https://www.colegiosantamonica.com.br/wp-content/uploads/2019/09/imagem02.jpg 2271w, https://www.colegiosantamonica.com.br/wp-content/uploads/2019/09/imagem02-346x300.jpg 346w, https://www.colegiosantamonica.com.br/wp-content/uploads/2019/09/imagem02-970x841.jpg 970w" sizes="(max-width: 2271px) 100vw, 2271px" /></noscript></p>
                <p><img loading="lazy" decoding="async" class="aligncenter size-full wp-image-219626 ls-is-cached lazyloaded" data-src="https://www.colegiosantamonica.com.br/wp-content/uploads/2019/09/imagem01.jpg" alt="" width="600" height="600" data-srcset="https://www.colegiosantamonica.com.br/wp-content/uploads/2019/09/imagem01.jpg 2359w, https://www.colegiosantamonica.com.br/wp-content/uploads/2019/09/imagem01-470x277.jpg 470w, https://www.colegiosantamonica.com.br/wp-content/uploads/2019/09/imagem01-970x571.jpg 970w" data-sizes="(max-width: 2359px) 100vw, 2359px" src="https://www.colegiosantamonica.com.br/wp-content/uploads/2019/09/imagem01.jpg" style="--smush-placeholder-width: 2359px; --smush-placeholder-aspect-ratio: 2359/1388;" sizes="(max-width: 2359px) 100vw, 2359px" srcset="https://www.colegiosantamonica.com.br/wp-content/uploads/2019/09/imagem01.jpg 2359w, https://www.colegiosantamonica.com.br/wp-content/uploads/2019/09/imagem01-470x277.jpg 470w, https://www.colegiosantamonica.com.br/wp-content/uploads/2019/09/imagem01-970x571.jpg 970w"><noscript><img loading="lazy" decoding="async" class="aligncenter size-full wp-image-219626" src="https://www.colegiosantamonica.com.br/wp-content/uploads/2019/09/imagem01.jpg" alt="" width="2359" height="1388" srcset="https://www.colegiosantamonica.com.br/wp-content/uploads/2019/09/imagem01.jpg 2359w, https://www.colegiosantamonica.com.br/wp-content/uploads/2019/09/imagem01-470x277.jpg 470w, https://www.colegiosantamonica.com.br/wp-content/uploads/2019/09/imagem01-970x571.jpg 970w" sizes="(max-width: 2359px) 100vw, 2359px" /></noscript></p>
                <p>

            </div>
        </div>
        <div class="col-md-4">
            <div class="page-sidebar">
                <aside id="main-sidebar">
                    <div class="card card-contato rounded-0 border-0">
                        <div role="main" id="form-conversao-01_home-652bf39d16550cff8e15"></div><script data-minify="1" type="text/javascript" src="https://www.colegiosantamonica.com.br/wp-content/cache/min/1/js/rdstation-forms/stable/rdstation-forms.min.js?ver=1724763735" defer=""></script><script type="text/javascript"> new RDStationForms('form-conversao-01_home-652bf39d16550cff8e15', 'UA-124905916-1').createForm();</script>

                    </div>
                    <div class="card card-extracurricular text-center">
                        <div class="card-body">
                            <h3 class="card-title">Atividades extracurriculares</h3>
                            <div class="row">
                                <div class="col-12 mb-4">
                                    <a href="https://www.colegiosantamonica.com.br/programa-esportivo-e-cultural/" class="text-center">
                                        <img width="250" height="235" data-src="https://www.colegiosantamonica.com.br/wp-content/themes/colegiosantamonica/images/ativ-extra-jazz.jpg" alt="ativ-extra-jazz" class="img-fluid mb-2 ls-is-cached lazyloaded" src="https://www.colegiosantamonica.com.br/wp-content/themes/colegiosantamonica/images/ativ-extra-jazz.jpg" style="--smush-placeholder-width: 250px; --smush-placeholder-aspect-ratio: 250/235;"><noscript><img width="250" height="235" src="https://www.colegiosantamonica.com.br/wp-content/themes/colegiosantamonica/images/ativ-extra-jazz.jpg" alt="ativ-extra-jazz" class="img-fluid mb-2"></noscript>
                                        <p class="h5">Jazz</p>
                                    </a>
                                </div>
                                <div class="col-12 mb-4">
                                    <a href="https://www.colegiosantamonica.com.br/programa-esportivo-e-cultural/" class="text-center">
                                        <img width="250" height="235" data-src="https://www.colegiosantamonica.com.br/wp-content/themes/colegiosantamonica/images/ativ-extra-natacao.jpg" alt="ativ-extra-natacao" class="img-fluid mb-2 ls-is-cached lazyloaded" src="https://www.colegiosantamonica.com.br/wp-content/themes/colegiosantamonica/images/ativ-extra-natacao.jpg" style="--smush-placeholder-width: 250px; --smush-placeholder-aspect-ratio: 250/235;"><noscript><img width="250" height="235" src="https://www.colegiosantamonica.com.br/wp-content/themes/colegiosantamonica/images/ativ-extra-natacao.jpg" alt="ativ-extra-natacao" class="img-fluid mb-2"></noscript>
                                        <p class="h5">Natação</p>
                                    </a>
                                </div>
                                <div class="col-12 mb-4">
                                    <a href="https://www.colegiosantamonica.com.br/programa-esportivo-e-cultural/" class="text-center">
                                        <img width="250" height="235" data-src="https://www.colegiosantamonica.com.br/wp-content/themes/colegiosantamonica/images/ativ-extra-futebol.jpg" alt="ativ-extra-futebol" class="img-fluid mb-2 ls-is-cached lazyloaded" src="https://www.colegiosantamonica.com.br/wp-content/themes/colegiosantamonica/images/ativ-extra-futebol.jpg" style="--smush-placeholder-width: 250px; --smush-placeholder-aspect-ratio: 250/235;"><noscript><img width="250" height="235" src="https://www.colegiosantamonica.com.br/wp-content/themes/colegiosantamonica/images/ativ-extra-futebol.jpg" alt="ativ-extra-futebol" class="img-fluid mb-2"></noscript>
                                        <p class="h5">Futebol</p>
                                    </a>
                                </div>
                                <div class="col-12 mb-4">
                                    <a href="https://www.colegiosantamonica.com.br/programa-esportivo-e-cultural/" class="d-block p-2 text-center">
                                        <img width="134" height="134" data-src="https://www.colegiosantamonica.com.br/wp-content/themes/colegiosantamonica/images/button-ver-mais.png" class="img-fluid mb-2 ls-is-cached lazyloaded" src="https://www.colegiosantamonica.com.br/wp-content/themes/colegiosantamonica/images/button-ver-mais.png" style="--smush-placeholder-width: 134px; --smush-placeholder-aspect-ratio: 134/134;"><noscript><img width="134" height="134" src="https://www.colegiosantamonica.com.br/wp-content/themes/colegiosantamonica/images/button-ver-mais.png" class="img-fluid mb-2"></noscript>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </aside>
            </div>
        </div>
    </div>
</div>