@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<<<<<<< Updated upstream
<div id="carouselExampleIndicators" class="carousel slide" data-mdb-ride="carousel" data-mdb-carousel-init>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/banner-home-1.jpg" class="d-block w-100" alt="Wild Landscape" />
        </div>
        <div class="carousel-item">
            <img src="~/images/banner-home-2.jpg" class="d-block w-100" alt="Camera" />
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
=======
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 text-bg-dark rounded-3">
            <h2>Matrículas 2024</h2>
            <p>Matrículas e Inscrições de ALUNOS NOVOS 2024.</p>
                <button class="btn btn-outline-light" type="button">Clique aqui</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-body-tertiary border rounded-3">
            <h2>Disciplinas Eletivas</h2>
            <p>Do 9º ano ao Ensino Médio.</p>
                <button class="btn btn-outline-secondary" type="button">Clique aqui</button>
            </div>
        </div>
    </div>
>>>>>>> Stashed changes
