@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="carouselExampleControls" class="carousel slide" data-mdb-ride="carousel" data-mdb-carousel-init>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/banner-home-1.jpg" class="d-block w-100" alt="Wild Landscape" />
        </div>
        <div class="carousel-item">
            <img src="~/images/banner-home-2.jpg" class="d-block w-100" alt="Camera" />
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="b-example-divider"></div>

<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Sobre o Saint John</h1>
            <p class="texto">
                Os conceitos e os métodos de ensino evoluíram. E com o tema “Ensino moderno de qualidade”, o Colégio Saint John evoluiu, também, em direção à velocidade de informação, do compartilhamento de conhecimento e do acesso infinito que a tecnologia traz.
                <br>
                Os alunos da antiga Geração Y hoje são preocupados pais da Geração Z, multidisciplinar e digitalizada. A Geração Y desenvolveu-se numa época de grandes avanços tecnológicos e prosperidade econômica. A metodologia de ensino precisava de um processo de retrofit, tais quais modernas instituições e corpos docentes precisaram enfrentar. É dentro desta ótica que o Colégio Saint John quer se posicionar: como uma modernização do estilo de ensino, uma opção moderna de capacitação para os jovens enfrentarem a árdua batalha do atual mercado de trabalho, que está sempre em constante evolução e mutação.
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <button type="button" class="btn btn-danger btn-lg px-4 me-md-2 fw-bold">Saiba mais</button>
            </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img class="rounded-lg-3" src="~/images/index.image.jpg" alt="" width="435" height="287" style="padding-right:50px;">
        </div>
    </div>
</div>

