@page
@model Projeto_Escola.Pages.localizacaoModel
@{
}

<div class="row">
    <div class="col-lg-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3672.6101984085108!2d-43.355462223775454!3d-23.001357241259505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9bda40c628e1cb%3A0xf9c6475a81e2887e!2sMarapendi%20Shopping!5e0!3m2!1spt-BR!2sbr!4v1725053053769!5m2!1spt-BR!2sbr"
                class="h-100 w-100" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

    <div class="col-md-6">
        <div class="h-100 p-5 text-black rounded-3">
            <h2 class="ftco-heading-2">Colégio Saint John</h2>
            <div class="block-23 mb-3">
                <p><img src="https://cdn-icons-png.flaticon.com/512/5611/5611951.png" alt="loc" width="20px" height="20px"><span class="text">&nbsp;&nbsp;Av. Gal. Felicíssimo Cardoso, 841 | Barra da Tijuca - RJ</span></p>
                <p><img src="https://cdn-icons-png.flaticon.com/512/5037/5037686.png" alt="tel" width="20px" height="20px"><span class="text">&nbsp;&nbsp;(21) 3325-3288</span></p>
                <p><img src="https://cdn-icons-png.flaticon.com/512/747/747314.png" alt="email" width="20px" height="20px"><span class="text">&nbsp;&nbsp;secretaria@saintjohn.g12.br</span></p>
            </div>
        </div>
    </div>
</div>