@page
@model Projeto_Escola.Pages.organogramaModel
@{
}
<main id="content" role="main">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<article class="page post-233 type-page status-publish hentry">
					<div class="content">
						<p>
							O corpo docente do
							Colégio Saint John – é formado por um seleto grupo de
							professores e professoras com qualificação acadêmica e experiência profissional.
						</p>



						<p>
							Em todos os segmentos de
							ensino, da Educação Infantil ao Ensino Médio, todos os docentes participam
							periodicamente de treinamentos e cursos de formação continuada, visando o
							desenvolvimento e o aprimoramento de suas competências e habilidades.
						</p>



						<p>
							A cosmovisão cristã
							reformada é o fundamento e o fio condutor de todo o processo de formação
							continuada do corpo docente do IPE, que tem como foco três áreas específicas:
						</p>



						<ul><li>O desenvolvimento de competências socioemocionais baseada numa visão de mundo cristã;</li><li>Atualização pedagógica para colocar em prática as habilidades e competências previstas na Base Nacional Comum Curricular (BNCC);</li><li>Capacitação para a utilização eficiente de Tecnologias Educacionais no processo de ensino-aprendizagem.</li></ul>



						<p>

							O objetivo de todo o
							corpo docente é ajudar os alunos a integrarem uma sólida formação educacional
							com boas escolhas para a vida, para o exercício da cidadania e de atividades profissionais
							de maneira ética e orientada por vocações pessoais para a Glória de Deus.



						</p>
					</div>
				</article>
			</div>
		</div>
	</div>

	<div class="well text-center">
		<div class="col-md-12">Corpo Docente</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<a href="#"><img src="images/docentes.png" alt="inn_logo"></a>
			</div>
		</div>
	</div>

</main>